#footer .footer-copyright{
	margin-top:0px;
}

#footer {
	padding-top:0px;
}

#addresses .item{
	border:solid 1px #ddd;
	padding-top:20px;
	cursor:pointer;
	margin-right:20px;
}

#addresses .active{
	border:solid 1px red;
}